/* Estilos globais */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f7fa;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #e2e7ed 100%);
  padding: 0 2rem;
}

h1, h2, h3, h4, h5 {
  font-family: 'Roboto', serif;
  font-weight: 700;
}

/* Header */
header {
  background: linear-gradient(45deg, #6c5ce7, #00b894);
  color: white;
  padding: 2rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

header h1 {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 1px;
}

header h1 a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

header h1 a:hover {
  color: #00b894;
}

header nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

header nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  position: relative;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

header nav a::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: #00b894;
  transition: width 0.3s ease;
}

header nav a:hover {
  color: #00b894;
  transform: translateY(-3px);
}

header nav a:hover::after {
  width: 100%;
}

/* Seções de conteúdo */
.about-section,
.projects-section,
.contact-section {
  padding: 3rem 1.5rem;
  max-width: 1200px;
  margin: 3rem auto;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section {
  background-color: #ffffff;
}

.about-section h3 {
  font-size: 1rem;
  font-weight:normal;
  color: #1abc9c;
}

.projects-section {
  background-color: #f5f6fa;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.project-card {
  background-color: #6c5ce7;
  color: white;
  padding: 2rem;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.contact-section {
  background-color: #ffffff;
  margin-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

form input,
form select,
form textarea {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border 0.3s ease;
}

form input:focus,
form textarea:focus {
  border: 2px solid #00b894;
  outline: none;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

form button {
  padding: 0.75rem 1.5rem;
  font-size: 1.1rem;
  background-color: #00b894;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

form button:hover {
  background-color: #1e8e6f;
  transform: translateY(-5px);
}

input:valid,
textarea:valid {
  border: 2px solid #00b894;
}
/*Mensagem para o form*/
.error { 
  color: red; 
  font-size: 0.9em; 
}
.success {
  color: green;
  font-size: 1em;
  margin-top: 10px;
}



/* Footer */
footer {
  background: linear-gradient(45deg, #6c5ce7, #00b894);
  color: white;
  padding: 3rem 1.5rem;
  text-align: center;
  margin-top: 3rem;
  border-radius: 10px;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 300;
}

footer .social-media {
  margin-top: 2rem;
}

footer .social-media a {
  text-decoration: none;
  color: white;
  margin: 0 1rem;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .social-media a:hover {
  color: #00b894;
  transform: scale(1.2);
}

footer .social-media img {
  width: 35px;
  height: 35px;
  transition: transform 0.3s ease;
}

footer .links {
  margin-top: 2rem;
}

footer .links a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
}

footer .links a:hover {
  color: #00b894;
  transform: translateY(-3px);
}
